@font-face {
  font-family: "TimesNewRamen-Regular";
  src: url("../fonts/TimesNewRamen-Regular.eot"); }

@font-face {
  font-family: "TimesNewRamen-Regular";
  src: url("../fonts/TimesNewRamen-Regular.woff") format("woff"), url("../fonts/TimesNewRamen-Regular.svg#TimesNewRamen-Regular") format("svg"); }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body {
  font-family: Arial;
  padding: 0;
  margin: 0;
  font-size: 15px;
  color: #000; }

h1.brand {
  font-weight: 400;
  font-size: 15px;
  margin: 0;
  padding: 0 0 15px 0; }
  h1.brand a:hover {
    font-weight: 700; }

a {
  color: #000;
  text-decoration: none;
  z-index: 99;
  position: relative; }
  a.featered {
    padding-top: 20px;
    font-size: 12px;
    display: block;
    font-family: 'TimesNewRamen-Regular'; }
  a.download {
    padding-top: 14px;
    text-decoration: underline; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  ul li {
    position: relative;
    z-index: 99; }

h1, nav {
  text-transform: uppercase;
  position: relative;
  z-index: 99; }

.main-nav {
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 9999; }

.main-nav ul {
  position: relative;
  display: block;
  width: 190px; }
  .main-nav ul li {
    margin-bottom: 5px;
    position: relative;
    height: 18px;
    width: 100%; }
    .main-nav ul li a {
      color: #000;
      -webkit-box-sizing: content-box;
              box-sizing: content-box;
      text-decoration: none;
      position: absolute;
      width: auto;
      left: 0px;
      top: 0px;
      white-space: nowrap; }
      .main-nav ul li a.active, .main-nav ul li a:hover {
        right: 0px;
        left: auto;
        padding-left: 400px;
        text-transform: none;
        font-weight: bold; }

.contact {
  margin-top: 60px; }
  .contact ul li a:hover {
    background: #fdfd04; }

span.highlighted {
  background: #fdfd04; }

.contact {
  font-size: 14px; }

.container {
  padding: 0 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .container-main {
    padding: 50px; }
  .container-index {
    padding: 50px;
    height: 100vh;
    overflow: hidden; }

.lang-switcher {
  text-align: right;
  margin-bottom: 100px; }
  .lang-switcher a {
    color: #000;
    z-index: 99;
    position: relative; }
    .lang-switcher a:not(.active) {
      text-decoration: line-through; }
    .lang-switcher a:hover {
      text-decoration: none; }
    .lang-switcher a.active {
      text-decoration: none; }

.right-top {
  position: absolute;
  top: 50px;
  right: 50px; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .row-bottom {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }

.works-widget {
  width: 610px;
  height: 400px;
  position: relative;
  z-index: 1; }
  .works-widget .work-widget {
    position: absolute; }

/***WORK***/
.featured-work {
  width: 100%; }
  .featured-work-image {
    width: 100%;
    position: relative;
    margin-top: 46px; }

.work {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0; }
  .work-inner {
    display: block;
    outline: none;
    width: 100%; }
    .work-inner img {
      max-width: 100%; }
    .work-inner h3 {
      margin-top: 40px;
      margin-bottom: 5px;
      padding: 0;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold; }
    .work-inner span.tech {
      font-size: 10px;
      display: block; }
  .work-left {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .work-left .work-inner:hover {
      -webkit-transform: translate(10px, -10px);
          -ms-transform: translate(10px, -10px);
              transform: translate(10px, -10px); }
  .work-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .work-center .work-inner:hover {
      -webkit-transform: translate(10px, -10px);
          -ms-transform: translate(10px, -10px);
              transform: translate(10px, -10px); }
  .work-right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .work-right .work-inner:hover {
      -webkit-transform: translate(-10px, -10px);
          -ms-transform: translate(-10px, -10px);
              transform: translate(-10px, -10px); }
