@font-face {
  font-family: "TimesNewRamen-Regular";
  src: url("../fonts/TimesNewRamen-Regular.eot"); }

@font-face {
  font-family: "TimesNewRamen-Regular";
  src: url("../fonts/TimesNewRamen-Regular.woff") format("woff"), url("../fonts/TimesNewRamen-Regular.svg#TimesNewRamen-Regular") format("svg"); }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

body {
  line-height: 1.618;
  font-family: Arial, Helvetica, sans-serif; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

code, pre, samp {
  font-family: monospace; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body {
  font-family: Arial;
  padding: 0;
  margin: 0;
  font-size: 15px;
  color: #000; }

h1.brand {
  font-weight: 400;
  font-size: 15px;
  margin: 0;
  padding: 0 0 15px 0; }
  @media (max-width: 992px) {
    h1.brand {
      padding-bottom: 5px; } }
  h1.brand a:hover {
    font-weight: 700; }

a {
  color: #000;
  text-decoration: none;
  z-index: 99;
  position: relative; }
  a.featered {
    padding-top: 20px;
    font-size: 12px;
    display: block;
    font-family: 'TimesNewRamen-Regular';
    position: relative;
    left: -50px;
    padding-left: 50px; }
    @media (max-width: 992px) {
      a.featered {
        font-size: 11px; } }
    a.featered:hover {
      left: 0px;
      font-weight: bold; }
  a.download {
    padding-top: 14px;
    text-decoration: underline; }

@media (max-width: 992px) {
  section.content {
    overflow: auto;
    height: 54vh;
    margin-top: 178px;
    border: 1px solid #000;
    padding: 10px; } }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  ul li {
    position: relative;
    z-index: 99; }

h1, nav {
  text-transform: uppercase;
  position: relative;
  z-index: 99; }

.main-nav {
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 9999; }
  @media (max-width: 992px) {
    .main-nav {
      top: 25px;
      left: 25px; } }

@media (max-width: 992px) {
  header {
    background: #fff; } }

.main-nav ul {
  position: relative;
  display: block;
  width: 190px; }
  @media (max-width: 992px) {
    .main-nav ul {
      width: 160px; } }
  .main-nav ul li {
    margin-bottom: 5px;
    position: relative;
    height: 18px;
    width: 100%; }
    .main-nav ul li a {
      color: #000;
      font-size: 15px;
      -webkit-box-sizing: content-box;
              box-sizing: content-box;
      text-decoration: none;
      position: absolute;
      width: auto;
      left: 0px;
      top: 0px;
      white-space: nowrap; }
      @media (max-width: 992px) {
        .main-nav ul li a {
          font-size: 14px;
          height: 15px; } }
      .main-nav ul li a.active, .main-nav ul li a:hover {
        right: 0px;
        left: auto;
        padding-left: 400px;
        text-transform: none;
        font-weight: bold; }

.contact {
  margin-top: 60px;
  font-size: 14px; }
  .contact ul li a:hover {
    background: #fdfd04; }
  .contact-sub {
    position: fixed;
    bottom: 50px;
    z-index: 99999; }
    @media (max-width: 992px) {
      .contact-sub {
        bottom: 25px; } }

.highlighted {
  background: #fdfd04; }

.container {
  padding: 0 50px;
  width: 100%; }
  .container-main {
    padding: 50px; }
    @media (max-width: 992px) {
      .container-main {
        padding: 0 25px; } }
  .container-index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 50px;
    height: 100vh;
    overflow: hidden; }

.lang-switcher {
  margin-bottom: 100px; }
  @media (max-width: 992px) {
    .lang-switcher {
      margin-bottom: 90px; } }
  .lang-switcher a:hover {
    text-decoration: none; }

.works .lang-switcher {
  margin-bottom: 14px; }

.view-switcher {
  margin-bottom: 62px; }

.lang-switcher, .view-switcher {
  text-align: right; }
  .lang-switcher a, .lang-switcher span, .view-switcher a, .view-switcher span {
    color: #000;
    z-index: 99;
    position: relative;
    display: inline-block; }
    .lang-switcher a:hover, .lang-switcher span:hover, .view-switcher a:hover, .view-switcher span:hover {
      cursor: pointer; }
    .lang-switcher a:not(.active), .lang-switcher span:not(.active), .view-switcher a:not(.active), .view-switcher span:not(.active) {
      text-decoration: line-through; }
    .lang-switcher a.active, .lang-switcher span.active, .view-switcher a.active, .view-switcher span.active {
      text-decoration: none; }

.right-top {
  position: fixed;
  top: 50px;
  right: 50px;
  text-align: right;
  z-index: 99999; }
  @media (max-width: 992px) {
    .right-top {
      top: 25px;
      right: 25px; } }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .row-bottom {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }

.works-widget {
  width: 610px;
  height: 400px;
  position: relative;
  z-index: 1; }
  .works-widget .work-widget {
    position: absolute; }
    .works-widget .work-widget:hover {
      cursor: move; }

/***WORK***/
.featured-work {
  width: 100%; }
  .featured-work-image {
    width: 100%;
    margin-top: 55px; }

/***COLUMNS****/
.col {
  font-family: "Times New Roman";
  font-size: 14px;
  -webkit-column-gap: 25px;
          column-gap: 25px; }
  .col p {
    line-height: 1.2;
    margin-bottom: 10px; }
    .col p.highlighted {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      line-height: 1; }

.col-1 {
  -webkit-columns: 1;
          columns: 1;
  width: 240px;
  margin-left: 60%; }

.col-2 {
  -webkit-columns: 2;
          columns: 2;
  width: 500px;
  margin-left: 43%; }
  @media (max-width: 1200px) {
    .col-2 {
      margin-left: 32%; } }

.col-3 {
  -webkit-columns: 3;
          columns: 3;
  width: 720px;
  margin-left: 28%; }

.col-4 {
  -webkit-columns: 4;
          columns: 4;
  width: 68%;
  margin-left: 21%; }

@media (max-width: 1250px) {
  .col-3, .col-4 {
    width: 64%; } }

@media (max-width: 1100px) {
  .col-3, .col-4 {
    width: 60%; } }

@media (max-width: 1250px) {
  .col-3, .col-4 {
    margin-left: 240px;
    -webkit-columns: 3 !important;
            columns: 3 !important; } }

@media (max-width: 1100px) {
  .col-2, .col-3, .col-4 {
    -webkit-columns: 2 !important;
            columns: 2 !important; } }

@media (max-width: 992px) {
  .col {
    width: 100%;
    -webkit-columns: 1 !important;
            columns: 1 !important;
    margin-left: 0px;
    margin-top: 22px !important; } }

@media (max-width: 1250px) {
  .col-4.not-collapse {
    -webkit-columns: 1 !important;
            columns: 1 !important; } }

@media (max-width: 1100px) {
  .col-3.not-collapse {
    -webkit-columns: 1 !important;
            columns: 1 !important; } }

.work-single .work-alone {
  margin: 150px 0 450px;
  text-align: center; }

.work-single .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .work-single .content .col {
    margin-left: 25px; }
  .work-single .content .col-img {
    margin-right: 200px; }
    .work-single .content .col-img img {
      max-width: 400px;
      margin-top: 50px; }

.work-single .gallery {
  margin: 500px 0 250px; }

b {
  font-weight: 700; }

.work {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0; }
  .work-inner {
    display: block;
    outline: none;
    width: 100%; }
    .work-inner img {
      max-width: 100%; }
    .work-inner h3 {
      margin-top: 40px;
      margin-bottom: 5px;
      padding: 0;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold; }
    .work-inner span.tech {
      font-size: 10px;
      display: block; }
  .work-left {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .work-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .work-right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }

.showTogether.masonry {
  -webkit-columns: 1;
          columns: 1;
  -webkit-column-gap: 0px;
          column-gap: 0px;
  width: 100%; }

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .showTogether.masonry {
    -webkit-columns: 2;
            columns: 2; } }

@media only screen and (min-width: 1024px) {
  .showTogether.masonry {
    -webkit-columns: 3;
            columns: 3; } }

.showTogether .masonry-item {
  display: inline-block;
  vertical-align: top;
  margin: 0px !important; }
  .showTogether .masonry-item h3, .showTogether .masonry-item span.tech {
    display: none; }

.showTogether .masonry-item, .showTogether .masonry-content {
  overflow: hidden;
  width: 100% !important;
  max-width: 100%; }
  .showTogether .masonry-item img, .showTogether .masonry-content img {
    width: 100% !important;
    display: block; }
