@font-face {
    font-family: "TimesNewRamen-Regular";
    src: url("../fonts/TimesNewRamen-Regular.eot");
}

@font-face {
    font-family: "TimesNewRamen-Regular";
    src: url("../fonts/TimesNewRamen-Regular.woff") format("woff"),
    url("../fonts/TimesNewRamen-Regular.svg#TimesNewRamen-Regular") format("svg");
}

@import "reset.scss";

* {
    box-sizing: border-box;
}
html, body {
    font-family: Arial;
    padding: 0;
    margin: 0;
    font-size: 15px;
    color: #000;
}
h1.brand {
    font-weight: 400;
    font-size: 15px;
    margin: 0;
    padding: 0 0 15px 0;
    @media (max-width: 992px) {
        padding-bottom: 5px;
    }
    a:hover {
        font-weight: 700;
    }
}
a {
    color: #000;
    text-decoration: none;
    z-index: 99;
    position: relative;
    &.featered {
        padding-top: 20px;
        font-size: 12px;
        @media (max-width: 992px) {
            font-size: 11px;
        }
        display: block;
        font-family: 'TimesNewRamen-Regular';
        position: relative;
        left: -50px;
        padding-left: 50px;
        &:hover {
            left: 0px;
            font-weight: bold;
        }
    }
    &.download {
        padding-top: 14px;
        text-decoration: underline;
    }
}
@media (max-width: 992px) {
    section.content {
        overflow: auto;
        height: calc(100vh - 267px);
        margin-top: 178px;
        border: 1px solid #000;
        padding: 10px;
    }
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        position: relative;
        z-index: 99;
    }
}
h1, nav {
    text-transform: uppercase;
    position: relative;
    z-index: 99;
}
.main-nav {
    position: fixed;
    top: 50px;
    left: 50px;
    @media (max-width: 992px) {
        top: 25px;
        left: 25px;
    }
    z-index: 9999;
}
@media (max-width: 992px) {
    header {
        background: #fff;
    }
}
.main-nav ul {
    position: relative;
    display: block;
    width: 190px;
    @media (max-width: 992px) {
        width: 160px;
    }
    li {
        margin-bottom: 5px;
        position: relative;
        height: 18px;
        width: 100%;
        a {
            color: #000;
            font-size: 15px;
            @media (max-width: 992px) {
                font-size: 14px;
                height: 15px;
            }
            box-sizing: content-box;
            text-decoration: none;
            position: absolute;
            width: auto;
            left: 0px;
            top: 0px;
            white-space: nowrap;
            &.active, &:hover {
                right: 0px;
                left: auto;
                padding-left: 400px;
                text-transform: none;
                font-weight: bold;
            }
        }
    }
}
.contact {
    margin-top: 60px;
    ul li {
        a:hover {
            background: rgb(253, 253, 4);
        }
    } 
    font-size: 14px;
    &-sub {
        position: fixed;
        bottom: 50px;
        @media(max-width: 992px) {
            bottom: 25px;
        }
        z-index: 99999;
    }
}
.highlighted {
    background: rgb(253, 253, 4);
}

.container {
    padding: 0 50px;
    width: 100%;
    &-main {
        padding: 50px;
        @media (max-width: 992px) {
            padding: 0 25px;
        }
    }
    &-index {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 50px;
        height: 100vh;
        overflow: hidden;
    }
}
.lang-switcher {
    margin-bottom: 100px;
    @media (max-width: 992px) {
        margin-bottom: 90px;
    }
    a {
        &:hover {
            text-decoration: none;
        }
    }
}
.works {
    .lang-switcher {
        margin-bottom: 14px;
    }
}
.view-switcher {
    margin-bottom: 62px;
}
.lang-switcher, .view-switcher {
    text-align: right;
    a, span {
        color: #000;
        z-index: 99;
        position: relative;
        display: inline-block;
        &:hover {
            cursor: pointer;
        }
        &:not(.active) {
            text-decoration: line-through;
        }
        &.active {
            text-decoration: none;
        }
    }
}
.right-top {
    position: fixed;
    top: 50px;
    right: 50px;
    @media (max-width: 992px) {
        top: 25px;
        right: 25px;
    }
    text-align: right;
    z-index: 99999;
}
.row {
    display: flex;
    justify-content: space-between;
    &-bottom {
        align-items: flex-end;
    }
}

.works-widget {
    width: 610px;
    height: 400px;
    position: relative;
    z-index: 1;
    .work-widget {
        position: absolute;
        &:hover {
            cursor: move;
        }
    }
    img {
        //max-width: 100%;
    }
}

/***WORK***/
.featured-work {
    width: 100%;
    &-image {
        width: 100%;
        margin-top: 55px;
    }
}

/***COLUMNS****/
.col {
    font-family: "Times New Roman";
    font-size: 14px;
    column-gap: 25px;
    p {
        line-height: 1.2;
        margin-bottom: 10px;
        // break-inside: avoid;
        &.highlighted {
            display: flex;
            line-height: 1;
        }
    }
}
.col-1 {
    columns: 1;
    width: 240px;
    margin-left: 60%;
}
.col-2 {
    columns: 2;
    width: 500px;
    margin-left: 43%;
    @media(max-width: 1200px) {
        margin-left: 32%;
    }
}
.col-3 {
    columns: 3;
    width: 720px;
    margin-left: 28%;
}
.col-4 {
    columns: 4;
    width: 68%;
    margin-left: 21%;
}
.col-3, .col-4 {
    @media (max-width: 1250px) {
        width: 64%;
    }
    @media (max-width: 1100px) {
        width: 60%;
    }
}
@media (max-width: 1250px) {
    .col-3, .col-4 {
        margin-left: 240px;
        columns: 3 !important;
    }
}
@media (max-width: 1100px) {
    .col-2, .col-3, .col-4 {
        columns: 2 !important;
    }
}
@media (max-width: 992px) {
    .col {
        width: 100%;
        columns: 1 !important;
        margin-left: 0px;
        margin-top: 22px !important;
    }
}
.col-4.not-collapse {
    @media (max-width: 1250px) {
        columns: 1 !important;
    }
}

.col-3.not-collapse {
    @media (max-width: 1100px) {
        columns: 1 !important;
    }
}
.work-single {
    .work-alone {
        margin: 150px 0 450px;
        text-align: center;
    }
    .content {
        display: flex;
        .col {
            margin-left: 25px;
        }
        .col-img {
            img {
                max-width: 400px;
                margin-top: 50px;
            }
            margin-right: 200px;
        }
    }
    .gallery {
        margin: 500px 0 250px;
    }
}
b {
    font-weight: 700;
}
@import "works.scss";