@font-face {
    font-family: "TimesNewRamen-Regular";
    src: url("../fonts/TimesNewRamen-Regular.eot");
}

@font-face {
    font-family: "TimesNewRamen-Regular";
    src: url("../fonts/TimesNewRamen-Regular.woff") format("woff"),
    url("../fonts/TimesNewRamen-Regular.svg#TimesNewRamen-Regular") format("svg");
}

* {
    box-sizing: border-box;
}
html, body {
    font-family: Arial;
    padding: 0;
    margin: 0;
    font-size: 15px;
    color: #000;
}
h1.brand {
    font-weight: 400;
    font-size: 15px;
    margin: 0;
    padding: 0 0 15px 0;
    a:hover {
        font-weight: 700;
    }
}
a {
    color: #000;
    text-decoration: none;
    z-index: 99;
    position: relative;
    &.featered {
        padding-top: 20px;
        font-size: 12px;
        display: block;
        font-family: 'TimesNewRamen-Regular';
    }
    &.download {
        padding-top: 14px;
        text-decoration: underline;
    }
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        position: relative;
        z-index: 99;
    }
}
h1, nav {
    text-transform: uppercase;
    position: relative;
    z-index: 99;
}
.main-nav {
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 9999;
}
.main-nav ul {
    position: relative;
    display: block;
    width: 190px;
    li {
        margin-bottom: 5px;
        position: relative;
        height: 18px;
        width: 100%;
        a {
            color: #000;
            box-sizing: content-box;
            text-decoration: none;
            position: absolute;
            width: auto;
            left: 0px;
            top: 0px;
            white-space: nowrap;
            &.active, &:hover {
                right: 0px;
                left: auto;
                padding-left: 400px;
                text-transform: none;
                font-weight: bold;
            }
        }
    }
}
.contact {
    margin-top: 60px;
    ul li {
        a:hover {
            background: rgb(253, 253, 4);
        }
    } 
}
span.highlighted {
    background: rgb(253, 253, 4);
}
.contact {
    font-size: 14px;
}

.container {
    padding: 0 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-main {
        padding: 50px;
    }
    &-index {
        padding: 50px;
        height: 100vh;
        overflow: hidden;
    }
}
.lang-switcher {
    text-align: right;
    margin-bottom: 100px;
    a {
        color: #000;
        z-index: 99;
        position: relative;
        &:not(.active) {
            text-decoration: line-through;
        }
        &:hover {
            text-decoration: none;
        }
        &.active {
            text-decoration: none;
        }
    }
}
.right-top {
    position: absolute;
    top: 50px;
    right: 50px;
}
.row {
    display: flex;
    justify-content: space-between;
    &-bottom {
        align-items: flex-end;
    }
}

.works-widget {
    width: 610px;
    height: 400px;
    position: relative;
    z-index: 1;
    .work-widget {
        position: absolute;
    }
    img {
        //max-width: 100%;
    }
}

/***WORK***/
.featured-work {
    width: 100%;
    &-image {
        width: 100%;
        position: relative;
        margin-top: 46px;
    }
}
@import "works.scss";