.work {
    width: 100%;
    display: flex;
    margin: 50px 0;
    &-inner {
        display: block;
        outline: none;      
        img {
            max-width: 100%;
        }
        width: 100%;
        h3 {
            margin-top: 40px;
            margin-bottom: 5px;
            padding: 0;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: bold;
        }
        span.tech {
            font-size: 10px;
            display: block;
        }
    }
    &-left {
        justify-content: flex-start;
        .work-inner {
           
        }
    }
    &-center {
        justify-content: center;
        .work-inner {
           
        }
    }
    &-right {
        justify-content: flex-end;
        .work-inner {
           
        }
    }

}
.showTogether {
    &.masonry {
        columns: 1;
      column-gap: 0px;
      width: 100%;
    }
    @media only screen and (max-width: 1023px) and (min-width: 768px) {  
        &.masonry {
            columns: 2;
        }
    }
    @media only screen and (min-width: 1024px) {
        &.masonry {
            columns: 3;
        }
        &.masonry.two-columns {
            columns: 2;
        }
    }
    .masonry-item {
        display: inline-block;
        vertical-align: top;
        margin: 0px !important;
        h3, span.tech {
            display: none;
        }
    }
    
    .masonry-item, .masonry-content {
        overflow: hidden;
        width: 100% !important;
        max-width: 100%;
        img {
            width: 100% !important;
            display: block;
        }
    }
}

.exhibitions {
    .masonry {
        padding-left: 310px;
        &-content {
            &:hover {
                .masonry-content-text {
                    display: block;
                }
            }
            &-text {
                display: none;
                width: 100%;
                height: 100%;
                background: #fff;
                position: absolute;
                top: 0px;
                left: 0px;
                h3 {
                    font-family: 'Times New Roman', Times, serif;
                    font-weight: bold;
                    display: block;
                    font-size: 13px;
                    margin: 5px 0;
                    text-transform: uppercase;
                    text-align: center;
                    transform: translate(-50%, -50%);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    color: #000;
                }
            }
        }
    }
}