.work {
    width: 100%;
    display: flex;
    margin: 50px 0;
    &-inner {
        display: block;
        outline: none;      
        img {
            max-width: 100%;
        }
        width: 100%;
        h3 {
            margin-top: 40px;
            margin-bottom: 5px;
            padding: 0;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: bold;
        }
        span.tech {
            font-size: 10px;
            display: block;
        }
    }
    &-left {
        justify-content: flex-start;
        .work-inner {
            &:hover {
                transform: translate(10px, -10px);
            }
        }
    }
    &-center {
        justify-content: center;
        .work-inner {
            &:hover {
                transform: translate(10px, -10px);                
            }
        }
    }
    &-right {
        justify-content: flex-end;
        .work-inner {
            &:hover {
                transform: translate(-10px, -10px);
            }
        }
    }

}